
body.show_sidebar .push_sidebar {
	left: 114px;
}

.simple-banner {
    border-bottom: 2px solid #DEDEDE;
	width:100%;
	/* position: fixed; */
    z-index: 2000;
	background: #d70021;
}
.simple-banner-inner{
    /* width: 90%; */
    margin: 0 auto;
    text-align: center;
    padding: 5px 0 5px 0;
}

.regular-text{
    font-family: arial;	   
    font-weight: bold;
    font-size: 11pt;
	line-height:20px;
	color: #fff;
}

.yellow-text{
	    font-family: arial;   
    font-weight: bold;
    font-size: 11pt;
	line-height:20px;
	color: #ffc512;
}
#hb-traffic-cta{   
    font-family: arial;
    font-weight: bolder;
    font-size: 10pt;
    text-transform: none;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    margin-left: 15px;

	background:  #fff;
	color: #d70021;
}
.leaflet-popup-content a.Name {
	font-size: larger;
}
.leaflet-control-zoom a:link {
	text-decoration: unset;
}
.leaflet-marker-pane > img {
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
}
#site-info-text {
    clear: both;
}
.sia-icon {
	background-color: white;
    border: 3px solid #ef9404;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-weight: 900;
    padding-top: 1px;
}
.sia-icon:after {
    display: block;
    content: "";
    border-color: #ef9404 transparent transparent transparent;
    border-style: solid;
    border-width: 6px;
    /* height: 0; */
    width: 0;
    position: relative;
    bottom: -3px;
    left: 4px;
}
.icon.DRINK, .sia-icon.DRINK {
    border: 3px solid #ffc512;
}
.icon.DRINK:after, .sia-icon.DRINK:after {
    border-color: #ffc512 transparent transparent transparent;
}

/*	for scrollbar	*/
::-webkit-scrollbar
{
	cursor: pointer;
	width: 4px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
