@charset "utf-8";

/* CSS Document */

#mobile-header{
	display:none;	
}

.hamburger{
	display:none !important;	
}

 .push_sidebar{
	display:none;	
}

.site-info-text.mobile{	
	display:none;	
}

@media only screen and (max-width: 480px) {

	.site-info-text.mobile{
		display:block;	
	}

	.site-info-text{
		display:none;	
	}

	.push_sidebar{
		display:block;	
	}

	.hamburger{
		display:block !important;
	}

	#mobile-header{
		display: block;
		/* padding-top: 50px; */
	}

	#wrapper{
		padding-top:75px;	
	}

	#colophon, #branding, #main, #wrapper {
		margin: 0 auto;
		width: 90%;
	}

	#site-info-text {    

		padding: 15px 0 15px 0;   

		width: 90%;

		margin:0 auto;

		text-align:left;

	}

	.home-text {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		padding-bottom: 30px;
	   padding-left: 2%;
	   padding-top: 75px;

	}

	.main-text {

		font-family: 'ACaslonPro-Regular';

		padding-top: 25px;

		font-size: 38px;

		color: #000;

		width: 70%;

		line-height: 40px;

	}



	#header_part{

	width:100%;	

	display:none;

	}

	.b {
		float: right;
		position: absolute;
		top: 0;
		z-index: 999;
		right: 0;
		text-align: right;
		padding-top: 132px;
	}



	.b img{

	width: 50%;

		height: auto;

	}



	#menu_part {

		float: left;

		width: 50%;

	}



	#subscribepopup_window{

			background-size: cover !important;

		background-repeat: no-repeat !important;

		width: 450px !important;

		height: 250px !important;

	}

	#subscribepopup_close{
		top: 130px !important;
		right: 195px !important;

		cursor: pointer;

		width: 100px;

		height: 45px;

		background-size: cover !important;

	}

	.buy-button{
		padding-left: 0;
	}

	.buy-button img {
		width:60%;
		height:auto;
	}

	#menu_part {   
		display: none;
	}

	.name{
		width: 70%;
		line-height: 22px;
	}

	.mobile-logo{
		width: 82%;
	}

	.mobile-menu{
		width:15%;	
	}

	.mobile-logo img.buy {
		width: auto;
		float: right;
		padding-top: 4px;
	}

	.mobile-wrapper {
		width: 95%;
	}

	.main-text {

		font-family: 'ACaslonPro-Regular';

		padding-top: 25px;

		font-size: 30px;

		color: #000;

		width: 70%;

		line-height: 33px;

		padding-left: 10px;

	}
	.name {
		font-family: 'ACaslonPro-Regular';
		color: #000;
		font-size: 14px;
		/* padding-top: 10px; */
		font-weight: bold;
		/* padding-left: 12px; */
		width: 60%;
		line-height: 19px;

	}

	body.show_sidebar .push_sidebar{
		left: 50%;
	}
	.push_sidebar .nav_trigger .fa.fa-times{
		padding-right:55px;
		margin-top: 0px;
	}
}



@media only screen and (max-width: 414px) {
	#subscribepopup_window{
		width: 380px !important;
		height: 210px !important;
	}

	#subscribepopup_close {
		top: 115px !important;
		right: 150px !important;    
		width: 91px;
		height: 41px;   
	}

	body.show_sidebar .push_sidebar {
		left: 45%;
	}

	.push_sidebar .nav_trigger .fa.fa-times {
		padding-right: 60px;
	}

	.b {
		padding-top:125px;
	}
}


@media only screen and (max-width: 375px){

	#subscribepopup_window {
		width: 300px !important;
		height: 165px !important;
	}

	#subscribepopup_close {
		top: 90px !important;
		right: 118px !important;
		width: 80px;
		height: 36px;
	}

	body.show_sidebar .push_sidebar {
		left: 40%;
	}

	.push_sidebar .nav_trigger .fa.fa-times {
		padding-right: 70px;
	}

	.b {padding-top:120px;}
}

@media only screen and (max-width: 360px){
	#mobile-header {
		padding-top: 70px;
	}

	.b {
		padding-top: 136px;
	}
}

@media only screen and (max-width: 320px){

	.main-text {
		font-size: 24px;	
		width:60%;
	}
	.buy-button{
		padding-top:10px;
	}

	body.show_sidebar .push_sidebar {
		left: 35%;
	}

	.push_sidebar .nav_trigger .fa.fa-times {
		padding-right: 85px;
	}
	.push_sidebar li {
		list-style: none;
		width: 78%;
	}
	.b {padding-top: 130px;}
}



.mobile-menu-inner{
	padding:30px 0 0 0px !important;
}
